<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Long Night</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-orange.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>
<body>
    <nav class="w3-sidebar w3-bar-block w3-card" id="mySidebar">
        <div class="w3-container w3-theme-d2">
          <span onclick="closeSidebar()" class="w3-button w3-display-topright w3-large">X</span>
          <br>
          <div class="w3-padding w3-center">
            <img class="w3-circle" src="{{url_for('static', filename='logo.png')}}" alt="avatar">
          </div>
        </div>
        <a class="w3-bar-item w3-button nav-button-text custom-hover" {{participateLoginStyle|safe}} href="{{url_for('views.participate')}}">Participate</a>
        <a class="w3-bar-item w3-button nav-button-text custom-hover" {{participateLoginStyle|safe}} href="{{url_for('views.login')}}">Login</a>
        <a class="w3-bar-item w3-button nav-button-text custom-hover" {{logoutFeedProfileStyle|safe}} href="{{url_for('views.feed')}}">Feed</a>
        <a class="w3-bar-item w3-button nav-button-text custom-hover" {{logoutFeedProfileStyle|safe}} onclick="openCamera()">Scan</a>
        <a class="w3-bar-item w3-button nav-button-text custom-hover" {{logoutFeedProfileStyle|safe}} href="{{url_for('views.profile')}}">Profile</a>
        <a class="w3-bar-item w3-button nav-button-text custom-hover" {{logoutFeedProfileStyle|safe}} href="{{url_for('views.logout')}}">Logout</a>
        <input id="cameraFileInput" type="file" accept="image/*" capture="environment" scanURL="{{url_for('views.scan')}}" onclick="this.value=null;"/>
    </nav>
    <header class="w3-bar w3-card w3-theme header">
        <button class="w3-bar-item w3-button w3-xlarge w3-hover-theme hamburger-button" onclick="openSidebar()">&#9776;</button>
        <div class="w3-bar-item website-title">
            <h1 class="header-text-top">The Long Night</h1>
            <h2 class="header-text-bottom">A StormerG Halloween Game</h3>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <div class="footer-placeholder"></div>
    <footer class="w3-container w3-theme footer">
        <h1 class="footer-text">Happy Halloween</h3>
    </footer>
    {{ toastr.include_toastr_js() }}
</body>
<script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
</html>