{% extends "index.html" %}
{% block content %}
<div class="participate" >
    <h3 class="welcome">Welcome to The Long Night!</h3>
    <div class="instructions">
        <ol>
            <li>You will receive your own QR code.</li>
            <li>Scan as many other players' QR codes to fight them once.</li>
            <li>The random winner of a fight will get 2 points and the loser will get 1 point.</li>
            <li>The player with the most points at the end of The Long Night by {{shutdownTime}} wins.</li>
            <li>You will also be sent a summary at the end of The Long Night of who you interacted with!</li>
            <li>Sign up below to participate!</li>
        </ol>
    </div>
    <div class="forms">
        <form action = "{{url_for('views.participate')}}" method = "post">
            <p><input class="input" type=text name=name required=true placeholder="Display Name"></p>
            <p><input class="input" type=email name=email required=true placeholder="Email"></p>
            <p><input class="input" type=password name=password required=true placeholder="Password"></p>
            <p><input class="button" type = submit value = "Sign Up"></p>
        </form>
     </div>
</div>
{% endblock %}